

body {
    width: 300px;
    height: 450px;
    margin: 10px;
}

* {
    background: #2B2A33;
    color: #f1eff5;
}

input, button, select, .tooltip, .site-to-track {
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: #4B4A53;
}

input, button, select {
    height: 25px;
    margin: 2px;
}

button, .group-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input:hover, button:hover, button:hover div, button:hover span, select:hover, .unclickable:active {
    background: #3B3A43;
}

input:active, button:active, button:active div, button:active span {
    background: #1B1A23;
}

input:disabled, button:disabled, select:disabled {
    color: #4B4A53;
}

button.group-active {
    border-color: #2E89F2;
}

.dimmed {
    opacity: 0.6;
}

.checkbox {
    width: 32px;
    height: 20px;
    border-radius: 10px;
    margin-right: 10px;
    background: #1B1A23;
    position: relative;
    vertical-align: middle;
}

.checkbox.enabled {
    background: #2E89F2;
}

.checkbox:not(.enabled)::after {
    content: "";
    background: white;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    position: absolute;
    left: 0%;
    top: 1px;
}

.checkbox.enabled::after {
    content: "";
    background: white;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    position: absolute;
    right: 0%;
    top: 1px;
}

.same-line {
    display: inline;
    display: flex;
}

.checkbox-label {
    position: relative;
    top: 1px;
}

.line, .line-full {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.line-full, .site-options {
    width: 100%;
}

.site-options {
    padding: 4px;
}

.site-data {
    flex: 1;
    height: 25px;
}

.groupname {
    flex: 1;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.back {
    flex: 0 25px;
    width: 25px;
}

.remove {
    flex: 0 25px;
    width: 25px;
}

.remove, .removegroup {
    border-color: #92403d;
}

.remove:hover, .removegroup:hover {
    background: #92403d;
}

.remove:active, .removegroup:active {
    background: #72100d;
}

.resettime {
    border-color: #8a7d4c;
}

.resettime:hover {
    background: #8a7d4c;
}

.resettime:active {
    background: #6a5d2c;
}

.about {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.aboutlinks {
    margin-top: 15px;
    margin-bottom: 15px;
}

.group-button {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 6px;
    margin-right: 6px;
} 

.group-button * {
    background: #00000000
}

.group-name {
    font-size: 18px;
    z-index: 1;
}

.group-time, .group-time-remaining, .group-limit, .group-extra-time, .group-sub {
    position: absolute;
    opacity: 0.5;
    font-size: 10px;
    z-index: 1;
}

.group-sub {
    position: relative;
    top: -2px;
}

.group-time, .group-time-remaining {
    left: 3px;
}

.group-time, .group-limit {
    bottom: 3px;
}

.group-limit, .group-extra-time {
    right: 3px;
}

.group-time-remaining, .group-extra-time {
    top: 3px;
}

.group-progress {
    height: 100%;
    position: absolute;
    left: 0px;
    border-radius: 6px;
}

.group-progress-ok {
    background: #FFFFFF14;
}
.group-progress-warn {
    background: #FFFF0018;
}
.group-progress-expired {
    background: #FF000022;
}

.timelimit {
    flex: 1;
}

.site-to-track {
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.site-button {
    position: relative;
    height: 30px;
    margin: 0px;
    border: none;
    padding: 5px;
}

.site-button * {
    background: #00000000 !important;
}

.add-site {
    /* Hack - button not aligned well with the rest by default for some reason */
    position: relative;
    left: -2px;
}

.site-caption {
    font-weight: normal;
    font-style: italic;
}

.site-to-track:not(.site-hidden) .site-button:hover {
    background-image: linear-gradient(#3B3A43, #2B2A33);
}

.site-to-track:not(.site-hidden) .site-button:active {
    background-image: linear-gradient(#1B1A23, #2B2A33) !important;
}


.site-to-track.site-hidden .site-on-show, .site-to-track .site-on-hide {
    display: none;
}

.site-to-track.site-hidden .site-on-hide, .site-to-track .site-on-show {
    display: block;
}

.pause {
    width: 75px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 40px;
}

.centered {
    display: flex;
    flex-flow: column;

    align-items: center;
    justify-content: space-between;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-container .tooltip {
    visibility: hidden;
    z-index: 5;
    position: absolute;
    top: 125%;
    width: 200px;
    margin-left: -100px;

    display: flex;
    flex-flow: column;
    align-items: center;

    background: #1B1A23;
    opacity: 0.0;
    padding: 10px;

    transition: opacity 0.2s;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1.0;
}

.drop-target-container {
    position: relative;
    height: 0px;
    width: 95%;
}

.drop-target {
    position: absolute;
    width: 100%;
    height: 14px;
    top: -7px;
    border-radius: 4px;
    background: #555555AA;
    z-index: 5;
    visibility: hidden;
}

[showdroptargets] .drop-target {
    visibility: visible;
}

.drop-target[targethover] {
    background: #2E89F2;
}

.drag-indicator-left, .drag-indicator-right {
    position: absolute;
    opacity: 0.15;

    display: flex;
    justify-content: center;
}

.drag-indicator-left {
    left: 15%;
}

.drag-indicator-right {
    right: 15%;
}

.drag-target-dummy {
    position: absolute;
    width: 100%;
    height: 100%;
}


#global_root {
    display: flex;
    flex-flow: column;
}

#warning_container {
    display: flex;
    flex-flow: row;
}
