

body {
    width: 300px;
    height: 450px;
    margin: 10px;
}

* {
    background: #2B2A33;
    color: #f1eff5;
}

input, button, select {
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: #4B4A53;
    height: 25px;
    margin: 2px;
}

input:hover, select:hover, .resettime-tooltip:active {
    background: #3B3A43;
}

input:active {
    background: #1B1A23;
}

input:disabled, select:disabled {
    color: #4B4A53;
}

input[type=checkbox] {
}

.line, tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line {
    margin-bottom: 6px;
}

.rowmain {
    height: 25px;
    width: 142px;
}

.timestats {
    height: 30px;
    flex: 2;
}

.groupname {
    flex: 1;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.back {
    flex: 0 25px;
    width: 25px;
}

.add {
    width: 25px;
    margin: 2px 4px;
}

.remove {
    width: 25px;
}

.remove, .removegroup {
    border-color: #92403d;
}

.remove:hover, .removegroup:hover {
    background: #92403d;
}

.remove:active, .removegroup:active {
    background: #72100d;
}

.resettime {
    border-color: #8a7d4c;
}

.resettime:hover {
    background: #8a7d4c;
}

.resettime:active {
    background: #6a5d2c;
}

.timelimit {
    flex: 1;
}

.timewarn {
    color: #f3ea59;
}

.timeexpired {
    color: #ef4334;
}

.about {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.aboutlinks {
    margin-top: 15px;
    margin-bottom: 15px;
}

.pause {
    width: 75px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 40px;
}
